<body><h1>Welcome to Library Management System</h1>
<h2>Options Available for Student : </h2>
<p>
    1) Ability to browse all the books – Basic information along with availability
    <br>2)Ability to borrow a book
    <br>3)Ability to see all the books borrowed and the ones which are overdue
</p>
<h2>Options Available for Admin : </h2>
<p>
    1) Ability to add/deactivate a new user - Either student or library admin <br>
    2) Ability to add/remove a book <br>
    3) Ability to view reports on books borrowed <br>
    4) All the books taken <br>
    5) All the books taken by a student <br>
    6) All the students who have taken a particular book <br>
</p>
</body>